/* GENERAL */
*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Playfair Display', serif;
    
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: RGBA(221,207,200,0.7) !important; 
}


/* MENU */
.perso_bgBlack { /* Background-color navbar */
    background-color: rgba(59,14,17,255) !important;
}

.nav-link { /* Couleur jaune des liens navbar */
    color: rgba(227,191,45,255) !important;
    font-size: 20px;
}

.nav-link:hover {
    color: rgba(224,121,28,255) !important;
}

.navbar-brand { 
    animation-name: brand;
    animation-duration: 1s;
    position: relative;
}
@keyframes brand { /* Permet de cibler l'élément brand | Animation du menu */
        0%{left:-1000px;} /* Fais une transition de la position -1000px à 0px depuis la gauche*/
        100%{left:0px;}
}

.navbar-nav { 
    animation-name: lien;
    animation-duration: 1.1s;
    position: relative;
}
@keyframes lien { /* Permet de cibler l'élément nav-item */
        0%{left:1000px;} /* Fais une transition de la position -1000px à 0px depuis la droite*/
        100%{left:0px;}
}


/* CAROUSSEL */
.perso_colorYellow { /* Couleur du titre des sections */
    font-weight: bold;
}

/* SECTION TEMOIGNAGE */

#temoignages div.col-12 {
    border: 1px;
    border-radius: 10px;
    margin: 5px 5rem 48px 4rem;
    background-color: rgb(255,245,238);
}

#temoignages div img {
    margin-top: 5px;
}

.monBouton {
    animation-name: bouton;
    animation-duration: 1.1s;
    width: 200px;
    animation-iteration-count: infinite; /* Permet de faire indéfiniment l'animation */
    animation-direction: alternate; /* L'animation partira de 0% à 100% puis de 100% à 0% */
}

@keyframes bouton {
    0% {
        transition: all 500ms ease-in;
        transform : scale(1);
    }
    100% {
        transition: all 500ms ease-in;
        transform : scale(1.1);
    }
}

/* JE LE GARDE POUR FAIRE L'ANIMATION DE MES CARDS PROJETS */

/* Description des témoigagent */
div p {
    color: RGBA(0,0,0,0.68);
    font-weight: bolder;
}

.animationTemoignage1 {
    animation-name: temoignage1;
    animation-duration: 2s;
    position: relative;
}

@keyframes temoignage1 {
    0% {left: -1000px;}
    100% {left: 0px;}
}

.animationTemoignage2 {
    animation-name: temoignage1;
    animation-duration: 1.5s;
    position: relative;
}

@keyframes temoignage2 {
    0% {left: -1000px;}
    100% {left: 0px;}
}

.animationTemoignage3 {
    animation-name: temoignage1;
    animation-duration: 1s;
    position: relative;
}

@keyframes temoignage3 {
    0% {left: -1000px;}
    100% {left: 0px;}
}

